.weadmin-block{
	/* display: inline-block; */
	position: absolute;
	top: 54px;
	left: 315px;
	background: white;
}
.weadmin-nav{
	border-bottom:none;
}
.weadmin-nav>a{
	line-height: 30px!important;
}
