<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neuedu.mapper.CheckRelationMapper" >
  <resultMap id="BaseResultMap" type="com.neuedu.pojo.CheckRelation" >
    <id column="ID" property="ID" jdbcType="INTEGER" />
    <result column="CheckProjID" property="checkProjID" jdbcType="INTEGER" />
    <result column="CheckTempID" property="checkTempID" jdbcType="INTEGER" />
    <result column="Position" property="position" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CheckProjID, CheckTempID, Position
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Integer" >
    select 
    <include refid="Base_Column_List" />
    from checkrelation
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Integer" >
    delete from checkrelation
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.neuedu.pojo.CheckRelation" >
    insert into checkrelation (ID, CheckProjID, CheckTempID, 
      Position)
    values (#{ID,jdbcType=INTEGER}, #{checkProjID,jdbcType=INTEGER}, #{checkTempID,jdbcType=INTEGER}, 
      #{position,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.neuedu.pojo.CheckRelation" >
    insert into checkrelation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        ID,
      </if>
      <if test="checkProjID != null" >
        CheckProjID,
      </if>
      <if test="checkTempID != null" >
        CheckTempID,
      </if>
      <if test="position != null" >
        Position,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="checkProjID != null" >
        #{checkProjID,jdbcType=INTEGER},
      </if>
      <if test="checkTempID != null" >
        #{checkTempID,jdbcType=INTEGER},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neuedu.pojo.CheckRelation" >
    update checkrelation
    <set >
      <if test="checkProjID != null" >
        CheckProjID = #{checkProjID,jdbcType=INTEGER},
      </if>
      <if test="checkTempID != null" >
        CheckTempID = #{checkTempID,jdbcType=INTEGER},
      </if>
      <if test="position != null" >
        Position = #{position,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neuedu.pojo.CheckRelation" >
    update checkrelation
    set CheckProjID = #{checkProjID,jdbcType=INTEGER},
      CheckTempID = #{checkTempID,jdbcType=INTEGER},
      Position = #{position,jdbcType=VARCHAR}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
</mapper>