<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neuedu.mapper.DiseaseMapper" >
  <resultMap id="BaseResultMap" type="com.neuedu.pojo.Disease" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="DiseaseCode" property="diseasecode" jdbcType="VARCHAR" />
    <result column="DiseaseName" property="diseasename" jdbcType="VARCHAR" />
    <result column="DiseaseICD" property="diseaseicd" jdbcType="VARCHAR" />
    <result column="DiseCategoryID" property="disecategoryid" jdbcType="INTEGER" />
    <result column="DelMark" property="delmark" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, DiseaseCode, DiseaseName, DiseaseICD, DiseCategoryID, DelMark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Integer" >
    select 
    <include refid="Base_Column_List" />
    from disease
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Integer" >
    delete from disease
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.neuedu.pojo.Disease" >
    insert into disease (ID, DiseaseCode, DiseaseName, 
      DiseaseICD, DiseCategoryID, DelMark
      )
    values (#{id,jdbcType=INTEGER}, #{diseasecode,jdbcType=VARCHAR}, #{diseasename,jdbcType=VARCHAR}, 
      #{diseaseicd,jdbcType=VARCHAR}, #{disecategoryid,jdbcType=INTEGER}, #{delmark,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.neuedu.pojo.Disease" >
    insert into disease
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="diseasecode != null" >
        DiseaseCode,
      </if>
      <if test="diseasename != null" >
        DiseaseName,
      </if>
      <if test="diseaseicd != null" >
        DiseaseICD,
      </if>
      <if test="disecategoryid != null" >
        DiseCategoryID,
      </if>
      <if test="delmark != null" >
        DelMark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="diseasecode != null" >
        #{diseasecode,jdbcType=VARCHAR},
      </if>
      <if test="diseasename != null" >
        #{diseasename,jdbcType=VARCHAR},
      </if>
      <if test="diseaseicd != null" >
        #{diseaseicd,jdbcType=VARCHAR},
      </if>
      <if test="disecategoryid != null" >
        #{disecategoryid,jdbcType=INTEGER},
      </if>
      <if test="delmark != null" >
        #{delmark,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neuedu.pojo.Disease" >
    update disease
    <set >
      <if test="diseasecode != null" >
        DiseaseCode = #{diseasecode,jdbcType=VARCHAR},
      </if>
      <if test="diseasename != null" >
        DiseaseName = #{diseasename,jdbcType=VARCHAR},
      </if>
      <if test="diseaseicd != null" >
        DiseaseICD = #{diseaseicd,jdbcType=VARCHAR},
      </if>
      <if test="disecategoryid != null" >
        DiseCategoryID = #{disecategoryid,jdbcType=INTEGER},
      </if>
      <if test="delmark != null" >
        DelMark = #{delmark,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neuedu.pojo.Disease" >
    update disease
    set DiseaseCode = #{diseasecode,jdbcType=VARCHAR},
      DiseaseName = #{diseasename,jdbcType=VARCHAR},
      DiseaseICD = #{diseaseicd,jdbcType=VARCHAR},
      DiseCategoryID = #{disecategoryid,jdbcType=INTEGER},
      DelMark = #{delmark,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>