<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neuedu.mapper.HerbalPrescriptionMapper" >
  <resultMap id="BaseResultMap" type="com.neuedu.pojo.HerbalPrescription" >
    <id column="ID" property="ID" jdbcType="INTEGER" />
    <result column="MedicalID" property="medicalID" jdbcType="INTEGER" />
    <result column="RegistID" property="registID" jdbcType="INTEGER" />
    <result column="UserID" property="userID" jdbcType="INTEGER" />
    <result column="PrescriptionName" property="prescriptionName" jdbcType="VARCHAR" />
    <result column="CreationTime" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="PrescriptioType" property="prescriptioType" jdbcType="VARCHAR" />
    <result column="PayNumber" property="payNumber" jdbcType="INTEGER" />
    <result column="Frequency" property="frequency" jdbcType="VARCHAR" />
    <result column="DrugsUsage" property="drugsUsage" jdbcType="VARCHAR" />
    <result column="Therapy" property="therapy" jdbcType="VARCHAR" />
    <result column="Detailed" property="detailed" jdbcType="VARCHAR" />
    <result column="Advice" property="advice" jdbcType="VARCHAR" />
    <result column="State" property="state" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, MedicalID, RegistID, UserID, PrescriptionName, CreationTime, PrescriptioType, 
    PayNumber, Frequency, DrugsUsage, Therapy, Detailed, Advice, State
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Integer" >
    select 
    <include refid="Base_Column_List" />
    from herbalprescription
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Integer" >
    delete from herbalprescription
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.neuedu.pojo.HerbalPrescription" >
    insert into herbalprescription (ID, MedicalID, RegistID, 
      UserID, PrescriptionName, CreationTime, 
      PrescriptioType, PayNumber, Frequency, 
      DrugsUsage, Therapy, Detailed, 
      Advice, State)
    values (#{ID,jdbcType=INTEGER}, #{medicalID,jdbcType=INTEGER}, #{registID,jdbcType=INTEGER}, 
      #{userID,jdbcType=INTEGER}, #{prescriptionName,jdbcType=VARCHAR}, #{creationTime,jdbcType=TIMESTAMP}, 
      #{prescriptioType,jdbcType=VARCHAR}, #{payNumber,jdbcType=INTEGER}, #{frequency,jdbcType=VARCHAR}, 
      #{drugsUsage,jdbcType=VARCHAR}, #{therapy,jdbcType=VARCHAR}, #{detailed,jdbcType=VARCHAR}, 
      #{advice,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.neuedu.pojo.HerbalPrescription" >
    insert into herbalprescription
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        ID,
      </if>
      <if test="medicalID != null" >
        MedicalID,
      </if>
      <if test="registID != null" >
        RegistID,
      </if>
      <if test="userID != null" >
        UserID,
      </if>
      <if test="prescriptionName != null" >
        PrescriptionName,
      </if>
      <if test="creationTime != null" >
        CreationTime,
      </if>
      <if test="prescriptioType != null" >
        PrescriptioType,
      </if>
      <if test="payNumber != null" >
        PayNumber,
      </if>
      <if test="frequency != null" >
        Frequency,
      </if>
      <if test="drugsUsage != null" >
        DrugsUsage,
      </if>
      <if test="therapy != null" >
        Therapy,
      </if>
      <if test="detailed != null" >
        Detailed,
      </if>
      <if test="advice != null" >
        Advice,
      </if>
      <if test="state != null" >
        State,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="medicalID != null" >
        #{medicalID,jdbcType=INTEGER},
      </if>
      <if test="registID != null" >
        #{registID,jdbcType=INTEGER},
      </if>
      <if test="userID != null" >
        #{userID,jdbcType=INTEGER},
      </if>
      <if test="prescriptionName != null" >
        #{prescriptionName,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="prescriptioType != null" >
        #{prescriptioType,jdbcType=VARCHAR},
      </if>
      <if test="payNumber != null" >
        #{payNumber,jdbcType=INTEGER},
      </if>
      <if test="frequency != null" >
        #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="drugsUsage != null" >
        #{drugsUsage,jdbcType=VARCHAR},
      </if>
      <if test="therapy != null" >
        #{therapy,jdbcType=VARCHAR},
      </if>
      <if test="detailed != null" >
        #{detailed,jdbcType=VARCHAR},
      </if>
      <if test="advice != null" >
        #{advice,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neuedu.pojo.HerbalPrescription" >
    update herbalprescription
    <set >
      <if test="medicalID != null" >
        MedicalID = #{medicalID,jdbcType=INTEGER},
      </if>
      <if test="registID != null" >
        RegistID = #{registID,jdbcType=INTEGER},
      </if>
      <if test="userID != null" >
        UserID = #{userID,jdbcType=INTEGER},
      </if>
      <if test="prescriptionName != null" >
        PrescriptionName = #{prescriptionName,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null" >
        CreationTime = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="prescriptioType != null" >
        PrescriptioType = #{prescriptioType,jdbcType=VARCHAR},
      </if>
      <if test="payNumber != null" >
        PayNumber = #{payNumber,jdbcType=INTEGER},
      </if>
      <if test="frequency != null" >
        Frequency = #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="drugsUsage != null" >
        DrugsUsage = #{drugsUsage,jdbcType=VARCHAR},
      </if>
      <if test="therapy != null" >
        Therapy = #{therapy,jdbcType=VARCHAR},
      </if>
      <if test="detailed != null" >
        Detailed = #{detailed,jdbcType=VARCHAR},
      </if>
      <if test="advice != null" >
        Advice = #{advice,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        State = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neuedu.pojo.HerbalPrescription" >
    update herbalprescription
    set MedicalID = #{medicalID,jdbcType=INTEGER},
      RegistID = #{registID,jdbcType=INTEGER},
      UserID = #{userID,jdbcType=INTEGER},
      PrescriptionName = #{prescriptionName,jdbcType=VARCHAR},
      CreationTime = #{creationTime,jdbcType=TIMESTAMP},
      PrescriptioType = #{prescriptioType,jdbcType=VARCHAR},
      PayNumber = #{payNumber,jdbcType=INTEGER},
      Frequency = #{frequency,jdbcType=VARCHAR},
      DrugsUsage = #{drugsUsage,jdbcType=VARCHAR},
      Therapy = #{therapy,jdbcType=VARCHAR},
      Detailed = #{detailed,jdbcType=VARCHAR},
      Advice = #{advice,jdbcType=VARCHAR},
      State = #{state,jdbcType=INTEGER}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
</mapper>