<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.mapper.RegisterMapper">
  <resultMap id="BaseResultMap" type="com.neuedu.pojo.Register">
    <id column="ID" jdbcType="INTEGER" property="ID" />
    <result column="CaseNumber" jdbcType="VARCHAR" property="caseNumber" />
    <result column="RealName" jdbcType="VARCHAR" property="realName" />
    <result column="Gender" jdbcType="INTEGER" property="gender" />
    <result column="IDnumber" jdbcType="VARCHAR" property="IDnumber" />
    <result column="BirthDate" jdbcType="DATE" property="birthDate" />
    <result column="Age" jdbcType="INTEGER" property="age" />
    <result column="AgeType" jdbcType="CHAR" property="ageType" />
    <result column="HomeAddress" jdbcType="VARCHAR" property="homeAddress" />
    <result column="VisitDate" jdbcType="DATE" property="visitDate" />
    <result column="Noon" jdbcType="CHAR" property="noon" />
    <result column="DeptID" jdbcType="INTEGER" property="deptID" />
    <result column="UserID" jdbcType="INTEGER" property="userID" />
    <result column="RegistLeID" jdbcType="INTEGER" property="registLeID" />
    <result column="SettleID" jdbcType="INTEGER" property="settleID" />
    <result column="IsBook" jdbcType="CHAR" property="isBook" />
    <result column="RegistTime" jdbcType="TIMESTAMP" property="registTime" />
    <result column="RegisterID" jdbcType="INTEGER" property="registerID" />
    <result column="VisitState" jdbcType="INTEGER" property="visitState" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CaseNumber, RealName, Gender, IDnumber, BirthDate, Age, AgeType, HomeAddress, 
    VisitDate, Noon, DeptID, UserID, RegistLeID, SettleID, IsBook, RegistTime, RegisterID, 
    VisitState
  </sql>
  <select id="selectByPrimaryKey" parameterType="Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from register
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Integer">
    delete from register
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.neuedu.pojo.Register">
    insert into register (ID, CaseNumber, RealName, 
      Gender, IDnumber, BirthDate, 
      Age, AgeType, HomeAddress, 
      VisitDate, Noon, DeptID, 
      UserID, RegistLeID, SettleID, 
      IsBook, RegistTime, RegisterID, 
      VisitState)
    values (#{ID,jdbcType=INTEGER}, #{caseNumber,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, 
      #{gender,jdbcType=INTEGER}, #{IDnumber,jdbcType=VARCHAR}, #{birthDate,jdbcType=DATE}, 
      #{age,jdbcType=INTEGER}, #{ageType,jdbcType=CHAR}, #{homeAddress,jdbcType=VARCHAR}, 
      #{visitDate,jdbcType=DATE}, #{noon,jdbcType=CHAR}, #{deptID,jdbcType=INTEGER}, 
      #{userID,jdbcType=INTEGER}, #{registLeID,jdbcType=INTEGER}, #{settleID,jdbcType=INTEGER}, 
      #{isBook,jdbcType=CHAR}, #{registTime,jdbcType=TIMESTAMP}, #{registerID,jdbcType=INTEGER}, 
      #{visitState,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.neuedu.pojo.Register">
    insert into register
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        ID,
      </if>
      <if test="caseNumber != null">
        CaseNumber,
      </if>
      <if test="realName != null">
        RealName,
      </if>
      <if test="gender != null">
        Gender,
      </if>
      <if test="IDnumber != null">
        IDnumber,
      </if>
      <if test="birthDate != null">
        BirthDate,
      </if>
      <if test="age != null">
        Age,
      </if>
      <if test="ageType != null">
        AgeType,
      </if>
      <if test="homeAddress != null">
        HomeAddress,
      </if>
      <if test="visitDate != null">
        VisitDate,
      </if>
      <if test="noon != null">
        Noon,
      </if>
      <if test="deptID != null">
        DeptID,
      </if>
      <if test="userID != null">
        UserID,
      </if>
      <if test="registLeID != null">
        RegistLeID,
      </if>
      <if test="settleID != null">
        SettleID,
      </if>
      <if test="isBook != null">
        IsBook,
      </if>
      <if test="registTime != null">
        RegistTime,
      </if>
      <if test="registerID != null">
        RegisterID,
      </if>
      <if test="visitState != null">
        VisitState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="caseNumber != null">
        #{caseNumber,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="IDnumber != null">
        #{IDnumber,jdbcType=VARCHAR},
      </if>
      <if test="birthDate != null">
        #{birthDate,jdbcType=DATE},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="ageType != null">
        #{ageType,jdbcType=CHAR},
      </if>
      <if test="homeAddress != null">
        #{homeAddress,jdbcType=VARCHAR},
      </if>
      <if test="visitDate != null">
        #{visitDate,jdbcType=DATE},
      </if>
      <if test="noon != null">
        #{noon,jdbcType=CHAR},
      </if>
      <if test="deptID != null">
        #{deptID,jdbcType=INTEGER},
      </if>
      <if test="userID != null">
        #{userID,jdbcType=INTEGER},
      </if>
      <if test="registLeID != null">
        #{registLeID,jdbcType=INTEGER},
      </if>
      <if test="settleID != null">
        #{settleID,jdbcType=INTEGER},
      </if>
      <if test="isBook != null">
        #{isBook,jdbcType=CHAR},
      </if>
      <if test="registTime != null">
        #{registTime,jdbcType=TIMESTAMP},
      </if>
      <if test="registerID != null">
        #{registerID,jdbcType=INTEGER},
      </if>
      <if test="visitState != null">
        #{visitState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neuedu.pojo.Register">
    update register
    <set>
      <if test="caseNumber != null">
        CaseNumber = #{caseNumber,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        RealName = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        Gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="IDnumber != null">
        IDnumber = #{IDnumber,jdbcType=VARCHAR},
      </if>
      <if test="birthDate != null">
        BirthDate = #{birthDate,jdbcType=DATE},
      </if>
      <if test="age != null">
        Age = #{age,jdbcType=INTEGER},
      </if>
      <if test="ageType != null">
        AgeType = #{ageType,jdbcType=CHAR},
      </if>
      <if test="homeAddress != null">
        HomeAddress = #{homeAddress,jdbcType=VARCHAR},
      </if>
      <if test="visitDate != null">
        VisitDate = #{visitDate,jdbcType=DATE},
      </if>
      <if test="noon != null">
        Noon = #{noon,jdbcType=CHAR},
      </if>
      <if test="deptID != null">
        DeptID = #{deptID,jdbcType=INTEGER},
      </if>
      <if test="userID != null">
        UserID = #{userID,jdbcType=INTEGER},
      </if>
      <if test="registLeID != null">
        RegistLeID = #{registLeID,jdbcType=INTEGER},
      </if>
      <if test="settleID != null">
        SettleID = #{settleID,jdbcType=INTEGER},
      </if>
      <if test="isBook != null">
        IsBook = #{isBook,jdbcType=CHAR},
      </if>
      <if test="registTime != null">
        RegistTime = #{registTime,jdbcType=TIMESTAMP},
      </if>
      <if test="registerID != null">
        RegisterID = #{registerID,jdbcType=INTEGER},
      </if>
      <if test="visitState != null">
        VisitState = #{visitState,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neuedu.pojo.Register">
    update register
    set CaseNumber = #{caseNumber,jdbcType=VARCHAR},
      RealName = #{realName,jdbcType=VARCHAR},
      Gender = #{gender,jdbcType=INTEGER},
      IDnumber = #{IDnumber,jdbcType=VARCHAR},
      BirthDate = #{birthDate,jdbcType=DATE},
      Age = #{age,jdbcType=INTEGER},
      AgeType = #{ageType,jdbcType=CHAR},
      HomeAddress = #{homeAddress,jdbcType=VARCHAR},
      VisitDate = #{visitDate,jdbcType=DATE},
      Noon = #{noon,jdbcType=CHAR},
      DeptID = #{deptID,jdbcType=INTEGER},
      UserID = #{userID,jdbcType=INTEGER},
      RegistLeID = #{registLeID,jdbcType=INTEGER},
      SettleID = #{settleID,jdbcType=INTEGER},
      IsBook = #{isBook,jdbcType=CHAR},
      RegistTime = #{registTime,jdbcType=TIMESTAMP},
      RegisterID = #{registerID,jdbcType=INTEGER},
      VisitState = #{visitState,jdbcType=INTEGER}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.neuedu.pojo.Register">
    <id column="ID" jdbcType="INTEGER" property="ID" />
    <result column="CaseNumber" jdbcType="VARCHAR" property="caseNumber" />
    <result column="RealName" jdbcType="VARCHAR" property="realName" />
    <result column="Gender" jdbcType="INTEGER" property="gender" />
    <result column="IDnumber" jdbcType="VARCHAR" property="IDnumber" />
    <result column="BirthDate" jdbcType="DATE" property="birthDate" />
    <result column="Age" jdbcType="INTEGER" property="age" />
    <result column="AgeType" jdbcType="CHAR" property="ageType" />
    <result column="HomeAddress" jdbcType="VARCHAR" property="homeAddress" />
    <result column="VisitDate" jdbcType="DATE" property="visitDate" />
    <result column="Noon" jdbcType="CHAR" property="noon" />
    <result column="DeptID" jdbcType="INTEGER" property="deptID" />
    <result column="UserID" jdbcType="INTEGER" property="userID" />
    <result column="RegistLeID" jdbcType="INTEGER" property="registLeID" />
    <result column="SettleID" jdbcType="INTEGER" property="settleID" />
    <result column="IsBook" jdbcType="CHAR" property="isBook" />
    <result column="RegistTime" jdbcType="TIMESTAMP" property="registTime" />
    <result column="RegisterID" jdbcType="INTEGER" property="registerID" />
    <result column="VisitState" jdbcType="INTEGER" property="visitState" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CaseNumber, RealName, Gender, IDnumber, BirthDate, Age, AgeType, HomeAddress, 
    VisitDate, Noon, DeptID, UserID, RegistLeID, SettleID, IsBook, RegistTime, RegisterID, 
    VisitState
  </sql>
  <select id="selectByPrimaryKey" parameterType="Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from register
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Integer">
    delete from register
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.neuedu.pojo.Register">
    insert into register (ID, CaseNumber, RealName, 
      Gender, IDnumber, BirthDate, 
      Age, AgeType, HomeAddress, 
      VisitDate, Noon, DeptID, 
      UserID, RegistLeID, SettleID, 
      IsBook, RegistTime, RegisterID, 
      VisitState)
    values (#{ID,jdbcType=INTEGER}, #{caseNumber,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, 
      #{gender,jdbcType=INTEGER}, #{IDnumber,jdbcType=VARCHAR}, #{birthDate,jdbcType=DATE}, 
      #{age,jdbcType=INTEGER}, #{ageType,jdbcType=CHAR}, #{homeAddress,jdbcType=VARCHAR}, 
      #{visitDate,jdbcType=DATE}, #{noon,jdbcType=CHAR}, #{deptID,jdbcType=INTEGER}, 
      #{userID,jdbcType=INTEGER}, #{registLeID,jdbcType=INTEGER}, #{settleID,jdbcType=INTEGER}, 
      #{isBook,jdbcType=CHAR}, #{registTime,jdbcType=TIMESTAMP}, #{registerID,jdbcType=INTEGER}, 
      #{visitState,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.neuedu.pojo.Register">
    insert into register
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        ID,
      </if>
      <if test="caseNumber != null">
        CaseNumber,
      </if>
      <if test="realName != null">
        RealName,
      </if>
      <if test="gender != null">
        Gender,
      </if>
      <if test="IDnumber != null">
        IDnumber,
      </if>
      <if test="birthDate != null">
        BirthDate,
      </if>
      <if test="age != null">
        Age,
      </if>
      <if test="ageType != null">
        AgeType,
      </if>
      <if test="homeAddress != null">
        HomeAddress,
      </if>
      <if test="visitDate != null">
        VisitDate,
      </if>
      <if test="noon != null">
        Noon,
      </if>
      <if test="deptID != null">
        DeptID,
      </if>
      <if test="userID != null">
        UserID,
      </if>
      <if test="registLeID != null">
        RegistLeID,
      </if>
      <if test="settleID != null">
        SettleID,
      </if>
      <if test="isBook != null">
        IsBook,
      </if>
      <if test="registTime != null">
        RegistTime,
      </if>
      <if test="registerID != null">
        RegisterID,
      </if>
      <if test="visitState != null">
        VisitState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="caseNumber != null">
        #{caseNumber,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="IDnumber != null">
        #{IDnumber,jdbcType=VARCHAR},
      </if>
      <if test="birthDate != null">
        #{birthDate,jdbcType=DATE},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="ageType != null">
        #{ageType,jdbcType=CHAR},
      </if>
      <if test="homeAddress != null">
        #{homeAddress,jdbcType=VARCHAR},
      </if>
      <if test="visitDate != null">
        #{visitDate,jdbcType=DATE},
      </if>
      <if test="noon != null">
        #{noon,jdbcType=CHAR},
      </if>
      <if test="deptID != null">
        #{deptID,jdbcType=INTEGER},
      </if>
      <if test="userID != null">
        #{userID,jdbcType=INTEGER},
      </if>
      <if test="registLeID != null">
        #{registLeID,jdbcType=INTEGER},
      </if>
      <if test="settleID != null">
        #{settleID,jdbcType=INTEGER},
      </if>
      <if test="isBook != null">
        #{isBook,jdbcType=CHAR},
      </if>
      <if test="registTime != null">
        #{registTime,jdbcType=TIMESTAMP},
      </if>
      <if test="registerID != null">
        #{registerID,jdbcType=INTEGER},
      </if>
      <if test="visitState != null">
        #{visitState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neuedu.pojo.Register">
    update register
    <set>
      <if test="caseNumber != null">
        CaseNumber = #{caseNumber,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        RealName = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        Gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="IDnumber != null">
        IDnumber = #{IDnumber,jdbcType=VARCHAR},
      </if>
      <if test="birthDate != null">
        BirthDate = #{birthDate,jdbcType=DATE},
      </if>
      <if test="age != null">
        Age = #{age,jdbcType=INTEGER},
      </if>
      <if test="ageType != null">
        AgeType = #{ageType,jdbcType=CHAR},
      </if>
      <if test="homeAddress != null">
        HomeAddress = #{homeAddress,jdbcType=VARCHAR},
      </if>
      <if test="visitDate != null">
        VisitDate = #{visitDate,jdbcType=DATE},
      </if>
      <if test="noon != null">
        Noon = #{noon,jdbcType=CHAR},
      </if>
      <if test="deptID != null">
        DeptID = #{deptID,jdbcType=INTEGER},
      </if>
      <if test="userID != null">
        UserID = #{userID,jdbcType=INTEGER},
      </if>
      <if test="registLeID != null">
        RegistLeID = #{registLeID,jdbcType=INTEGER},
      </if>
      <if test="settleID != null">
        SettleID = #{settleID,jdbcType=INTEGER},
      </if>
      <if test="isBook != null">
        IsBook = #{isBook,jdbcType=CHAR},
      </if>
      <if test="registTime != null">
        RegistTime = #{registTime,jdbcType=TIMESTAMP},
      </if>
      <if test="registerID != null">
        RegisterID = #{registerID,jdbcType=INTEGER},
      </if>
      <if test="visitState != null">
        VisitState = #{visitState,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neuedu.pojo.Register">
    update register
    set CaseNumber = #{caseNumber,jdbcType=VARCHAR},
      RealName = #{realName,jdbcType=VARCHAR},
      Gender = #{gender,jdbcType=INTEGER},
      IDnumber = #{IDnumber,jdbcType=VARCHAR},
      BirthDate = #{birthDate,jdbcType=DATE},
      Age = #{age,jdbcType=INTEGER},
      AgeType = #{ageType,jdbcType=CHAR},
      HomeAddress = #{homeAddress,jdbcType=VARCHAR},
      VisitDate = #{visitDate,jdbcType=DATE},
      Noon = #{noon,jdbcType=CHAR},
      DeptID = #{deptID,jdbcType=INTEGER},
      UserID = #{userID,jdbcType=INTEGER},
      RegistLeID = #{registLeID,jdbcType=INTEGER},
      SettleID = #{settleID,jdbcType=INTEGER},
      IsBook = #{isBook,jdbcType=CHAR},
      RegistTime = #{registTime,jdbcType=TIMESTAMP},
      RegisterID = #{registerID,jdbcType=INTEGER},
      VisitState = #{visitState,jdbcType=INTEGER}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
</mapper>