<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neuedu.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.neuedu.pojo.User" >
    <id column="ID" property="ID" jdbcType="INTEGER" />
    <result column="UserName" property="userName" jdbcType="VARCHAR" />
    <result column="Password" property="password" jdbcType="VARCHAR" />
    <result column="RealName" property="realName" jdbcType="VARCHAR" />
    <result column="UseType" property="useType" jdbcType="INTEGER" />
    <result column="DocTitleID" property="docTitleID" jdbcType="INTEGER" />
    <result column="IsScheduling" property="isScheduling" jdbcType="CHAR" />
    <result column="DeptID" property="deptID" jdbcType="INTEGER" />
    <result column="RegistLeID" property="registLeID" jdbcType="INTEGER" />
    <result column="DelMark" property="delMark" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, UserName, Password, RealName, UseType, DocTitleID, IsScheduling, DeptID, RegistLeID, 
    DelMark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Integer" >
    delete from user
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.neuedu.pojo.User" >
    insert into user (ID, UserName, Password, 
      RealName, UseType, DocTitleID, 
      IsScheduling, DeptID, RegistLeID, 
      DelMark)
    values (#{ID,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{realName,jdbcType=VARCHAR}, #{useType,jdbcType=INTEGER}, #{docTitleID,jdbcType=INTEGER}, 
      #{isScheduling,jdbcType=CHAR}, #{deptID,jdbcType=INTEGER}, #{registLeID,jdbcType=INTEGER}, 
      #{delMark,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.neuedu.pojo.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        ID,
      </if>
      <if test="userName != null" >
        UserName,
      </if>
      <if test="password != null" >
        Password,
      </if>
      <if test="realName != null" >
        RealName,
      </if>
      <if test="useType != null" >
        UseType,
      </if>
      <if test="docTitleID != null" >
        DocTitleID,
      </if>
      <if test="isScheduling != null" >
        IsScheduling,
      </if>
      <if test="deptID != null" >
        DeptID,
      </if>
      <if test="registLeID != null" >
        RegistLeID,
      </if>
      <if test="delMark != null" >
        DelMark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="useType != null" >
        #{useType,jdbcType=INTEGER},
      </if>
      <if test="docTitleID != null" >
        #{docTitleID,jdbcType=INTEGER},
      </if>
      <if test="isScheduling != null" >
        #{isScheduling,jdbcType=CHAR},
      </if>
      <if test="deptID != null" >
        #{deptID,jdbcType=INTEGER},
      </if>
      <if test="registLeID != null" >
        #{registLeID,jdbcType=INTEGER},
      </if>
      <if test="delMark != null" >
        #{delMark,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neuedu.pojo.User" >
    update user
    <set >
      <if test="userName != null" >
        UserName = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        Password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        RealName = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="useType != null" >
        UseType = #{useType,jdbcType=INTEGER},
      </if>
      <if test="docTitleID != null" >
        DocTitleID = #{docTitleID,jdbcType=INTEGER},
      </if>
      <if test="isScheduling != null" >
        IsScheduling = #{isScheduling,jdbcType=CHAR},
      </if>
      <if test="deptID != null" >
        DeptID = #{deptID,jdbcType=INTEGER},
      </if>
      <if test="registLeID != null" >
        RegistLeID = #{registLeID,jdbcType=INTEGER},
      </if>
      <if test="delMark != null" >
        DelMark = #{delMark,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neuedu.pojo.User" >
    update user
    set UserName = #{userName,jdbcType=VARCHAR},
      Password = #{password,jdbcType=VARCHAR},
      RealName = #{realName,jdbcType=VARCHAR},
      UseType = #{useType,jdbcType=INTEGER},
      DocTitleID = #{docTitleID,jdbcType=INTEGER},
      IsScheduling = #{isScheduling,jdbcType=CHAR},
      DeptID = #{deptID,jdbcType=INTEGER},
      RegistLeID = #{registLeID,jdbcType=INTEGER},
      DelMark = #{delMark,jdbcType=INTEGER}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <select id="login" parameterType="User" resultMap="loginResultMap">
    select * from user
    where username=#{userName} and password=#{password}
  </select>
  <resultMap id="loginResultMap" type="User">
    <id property="ID" column="ID"></id>
    <result property="userName" column="userName"></result>
    <result property="password" column="password"></result>
    <result property="realName" column="realName"></result>
    <result property="useType" column="useType"></result>
    <result property="docTitleID" column="docTitleID"></result>
    <result property="isScheduling" column="isScheduling"></result>
    <result property="deptID" column="deptID"></result>
    <result property="registLeID" column="registLeID"></result>
    <result property="delMark" column="delMark"></result>
  </resultMap>
</mapper>